{% autoescape off %}

Dear {{ last_name }} {{ first_name }},

I hope this email finds you well. I am writing to confirm that your reservation for {{ restaurant }} on {{ date }} has been cancelled at your request.

We understand that circumstances may change and we appreciate you taking the time to inform us of your change of plans. If you require any further assistance, please do not hesitate to reach out to us.

We hope to have the pleasure of serving you in the future. If you decide to make a reservation with us again, please do not hesitate to contact us. We would be more than happy to assist you.

Thank you for considering us for your hotel needs.

Best regards,
ResooTime

{% endautoescape %}
