{% autoescape off %}

Hörmətli {{last_name}} {{first_name}},

Ümid edirəm bu e-poçt sizə yaxşı çatır. {{restoran}} restoranında {{date}} tarixindəki rezervasiyanızın ləğv edildiyini təsdiq etmək üçün sizə yazıram.

Şərtlərin dəyişə biləcəyini başa düşürük və planlarınızda dəyişiklik etdiyiniz üçün bizə məlumat vermək üçün zaman ayırdığınız üçün təşəkkür edirik. Əlavə köməyə ehtiyacınız varsa, bizimlə əlaqə saxlamaqdan çəkinməyin.

Gələcəkdə sizə xidmət etməkdən zövq alacağıq. Yenidən bizimlə rezervasiya etmək qərarına gəlsəniz, bizimlə əlaqə saxlamaqdan çəkinməyin. Biz sizə kömək etməkdən çox məmnun olarıq.

Hörmətlə,
ResooTime

{% endautoescape %}
